<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style></style>
</head>
<body>
<header>
<h1>Greet me</h1>
</header>

{{greeting}}
<div>
    <ul>
        {{#each users}}
        <li>{{@key}} greeted {{this}} time(s)</li>
        {{/each}}
     </ul>
</div>


<form action="/hello" method="post" >
    <input type="text" name="username">
    <input type="submit" ><br>
    <input type="radio" id="language" name="language" value="English">
    <label for="language">English</label><br>
    <input type="radio" id="language" name="language" value="Xhosa">
    <label for="language">Xhosa</label><br>
    <input type="radio" id="language" name="language" value="Afrikaans">
    <label for="language">Afrikaans</label><br>
</form>

</body>
</html>